@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
body{
    text-align: center;
    background-color: #011F3F;
}
.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    font-size: 50px;
}
.container{
    margin: 80px;
}
.box{
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 10px black solid;
    border-radius: 20%;
    margin: 25px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
